#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar{
  border:1px solid white;
  padding:1rem;
  width:60vw;
  display:flex;
  justify-content:space-evenly;
}